.iframe-resp {
  height: auto !important;
  /* For modern browsers */
  display: block;
  min-height: 800px;
  height: 800px; /*for IE*/
  width: 100% !important;
  border: none;
}
.padingtop {
  margin-top: 5px;
  padding-top: 100px;
}
input[type="text"], input[type="email"], input[type="password"] {
	border: 1px solid #DADADA;
	color: #000000;
	height: 50px;
	outline: 0 none;
	margin: 2px 2px 2px 2px;
	width: 100%;
	font-size: 14px;
}
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
/*select {
	height:37px;
  width:50px;
}*/
.districts {
  border:2px;
  solid #ccc;
  width:300px;
  height:500px;
  overflow-y: scroll;
}
.communes {
  display:block;
  padding-left: 30px;
}
.phones {
  border:2px;
  solid #ccc;
  width:300px;
  height:300px;
  overflow-y: scroll;
}
.topspace {
  margin-top: 20px;
}
.button {
  background-color: #4CAF50;
  border: 1px solid #000;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
    background-color: #30a5ff; /* Green */
    color: black;
}
.form-control {
    height: auto;
}
