html
{
    font-family: 'Battambang', arial;
    position: relative;
    min-height: 100%;
}
body
{
    font-family: 'Battambang', arial;
    font-style: normal;
    margin: 0 0 40px;
}
.iframe-resp {
  height: auto !important;
  /* For modern browsers */
  display: block;
  min-height: 700px;
  height: 700px; /*for IE*/
  width: 100% !important;
  border: none;
}
.main{
    background: white;
}
.padingtop {
  margin-top: 5px;
  padding-top: 100px;
}
input[type="text"], input[type="email"], input[type="password"] {
	border: 1px solid #DADADA;
	color: #000000;
	height: 50px;
	outline: 0 none;
	margin: 2px 2px 2px 2px;
	width: 100%;
	font-size: 14px;
}
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.districts {
  border:2px solid #ccc;
    width: 70%;
    max-height: 500px;
  overflow-y: scroll;
}
.communes {
  display:block;
  padding-left: 30px;
}
.phones {
  border:2px solid #ccc;
  width:300px;
  height:300px;
  overflow-y: scroll;
}
.topspace {
  margin-top: 20px;
}
.button {
  background-color: #4CAF50;
  border: 1px solid #000;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
    background-color: #30a5ff; /* Green */
    color: black;
}
.form-control {
    height: auto;
}

.buttonAsLink
{
	color:#0CAAD8;
	font-size: 12pt;
	font-weight: bold;
	background-color:transparent;
	text-decoration: underline;
	border:0;
	cursor: pointer;
}

.hideContactFile {
  display: block;
  overflow: hidden;
}

.btnNoBtnBackground {
    background:none!important;
    border: 1px solid #FFFFFF;
    padding:0!important;
    cursor: pointer;
}

.bigsizebtn
{
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* override classes on style.css file */
.user-menu a {
    color: #364A65;
}

.navbar-header .navbar-brand {
    color: #364A65;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
    color: #fff;
    background-color: #364A65;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: fixed;
        top: 100px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
    }
    .navbar-header {
        width: 100%;
    }
}

/*Breadcrumbs*/
.breadcrumb {
    border-radius: 0;
    padding: 10px 10px;
    background: #e9ecf2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 50px;
}

/* override classes on bootstrap.css file */
.btn-primary {
    color: #fff;
    background-color: #384B65;
    border-color: #374556;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #747B86;
    border-color: #364A65;
}
.btn-danger {
    color: #fff;
    background-color: #914854;
    border-color: #87434E;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #AD6B76;
    border-color: #914854;
}

.btn-link {
    font-weight: normal;
    color: #364A65;
    cursor: pointer;
    border-radius: 0;
}

a {
    color: #364A65;
    text-decoration: none;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #364A65;
    content: "/\00a0";
}
.breadcrumb > .active {
    color: #364A65;
}

.btn-info {
    color: #fff;
    background-color: #4f617a;
    border-color: #435368;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #7a8ea9;
    border-color: #4f617a;
}
#footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding-top: 5px;
    background-color:#f5f5f5;
}
textarea {
    border: 1px solid #DADADA;
    color: #000000;
    outline: 0 none;
    margin: 2px 2px 2px 2px;
    width: 100%;
    font-size: 14px;
}
.fullwidth {
    height:auto;
    width:100%;
}
.halfwidth {
    height:37px;
    width:50%;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #727070;
    border-color: #474747;
}
/* prevent sroll bar when child element's width bigger than parent's width*/
.no-overflow
{
    overflow: hidden;
}
.fixed-panel {
    height: 1000px;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.select_style {
    height: 40px !important;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.select_style_height{
    max-height: 200px !important;
    height:auto;
    width:100%;
    border: 1px solid #cccccc;
    overflow-y: scroll;
}

.waiting-circles
{
    padding: 0;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}
.waiting-circles-element
{
    margin: 0 2px 0 0;
    background-color: #000000;
    width: 20px;
    height: 20px;
    display: inline-block;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 10px;
}
.waiting-circles-play-0, .waiting-circles-play-1, .waiting-circles-play-2
{
    background-color: gray;
}
.fixed-dialog-center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(0%,-50%);
}
.full-width{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Spinning loading */
.spinner {
    margin: 20px;
    height: 80px;
    width: 80px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

.panel-default {
    border-color: #ddd;
    height: 1000px;
}